/_dciengestionbox.es.zip
/u755459505_dcienbox.sql
/laravel_core_old/
/public_html_old/
/public_html/test_public_html/
/laravel_core/error_log
/laravel_core/storage/backups/
/laravel_core/test_logica_reservas.php
/laravel_core/test_tinker.php
/laravel_core/arenaCompetition
/laravel_core/total_points
.env.local
